<div class="catalog__body">
    <div class="catalog__sort_counts">
        <div class="catalog__sort">
            Сортировать по
            <button class="catalog__sort_btn">
                <span class="catalog__sort_btn_value">убыванию цены</span>
                <span class="catalog__sort_btn_arrow">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
            </button>
            <div class="catalog__sort_radio_group this--hidden">
                <input type="radio" name="sort" class="catalog__sort_radio" value="убыванию цены" id="radio_1" checked>
                <label class="catalog__sort_radio_label" for="radio_1">убыванию цены</label>
                <input type="radio" name="sort" class="catalog__sort_radio" value="возрастанию цены" id="radio_2">
                <label class="catalog__sort_radio_label" for="radio_2">возрастанию цены</label>
                <input type="radio" name="sort" class="catalog__sort_radio" value="популярности" id="radio_3">
                <label class="catalog__sort_radio_label" for="radio_3">популярности</label>
                <input type="radio" name="sort" class="catalog__sort_radio" value="новизне" id="radio_4">
                <label class="catalog__sort_radio_label" for="radio_4">новизне</label>
            </div>
        </div>
        <div class="catalog__counts"><span>104</span> товара</div>
        <button class="catalog__mobile_filter_btn">
            <img src="/img/catalog/icons/filter-icon.png" alt="">
            <span class="catalog__mobile_filter_btn_count"></span>
        </button>
    </div>
    <div class="catalog__categories">
        <a href="#" class="catalog__category">Пусеты</a>
        <a href="#" class="catalog__category">Конго</a>
    </div>
    <div class="catalog__cards item__cards">
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="/detail_size.html" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/1.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                        <span class="item_card__labels_item">ХИТ</span>
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                        <span class="item_card__labels_item">ХИТ</span>
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="/detail.html" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/2.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/3.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/4.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/5.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/6.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/7.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/8.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/9.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/10.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/11.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/12.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/1.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/2.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/3.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/4.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/5.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/6.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/7.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/8.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/9.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/10.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/11.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
        <div class="item_card this--discount">
            <button class="item_card__favorite"></button>
            <a href="#" class="item_card__link">
                <div class="item_card__top_img">
                    <img src="/img/catalog/cards_img/12.jpg" alt="">
                    <div class="item_card__labels">
                        <span class="item_card__labels_item">NEW</span>
                        <span class="item_card__labels_item">ХИТ</span>
                    </div>
                    <span class="item_card__discount">-15%</span>
                </div>
                <div class="item_card__text">Кольцо из белого золота с бриллиантами</div>
                <div class="item_card__price">
                    от 24 000 ₽ <span class="item_card__price_old">44 000 ₽</span>
                </div>
            </a>
        </div>
    </div>
    <div class="catalog__bottom">
        <div class="catalog__show_counts">Показано товаров: <span class="catalog__show_counts_value">24</span> из <span
                class="catalog__show_counts_all_value">104</span></div>
        <a href="#" class="catalog__next_btn btn this--wh">дальше</a>
        <ul class="catalog__pagination">
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link active ">1</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">2</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">3</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">4</a></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">5</a></li>
            <li class="catalog__pagination_item"><span>...</span></li>
            <li class="catalog__pagination_item"><a href="#" class="catalog__pagination_link">9</a></li>
        </ul>
    </div>
</div>