<div class="catalog_part__add_popup add_popup">
    <div class="add_popup__title">Товар добавлен в корзину</div>
    <div class="add_popup__item">
        <div class="add_popup__item_img_wr">
            <div class="add_popup__item_img">
                <img src="/img/catalog_part/1.png" alt="">
            </div>
        </div>
        <div class="add_popup__item_info">
            <div class="add_popup__item_title">Секции якоря для ДЭ-812 дополнительная строка</div>
            <div class="item_card__price this--popup">
                5000 ₽ <span class="item_card__price_old">6500 ₽</span>
            </div>
        </div>
    </div>
    <div class="add_popup__line"></div>
    <div class="add_popup__total">Итого: 14 542 ₽</div>
    <div class="add_popup__btns">
        <a href="#" class="add_popup__btn btn">Оформить заказ</a>
        <a href="#" class="add_popup__btn btn this--wh">Перейти к корзине</a>
    </div>
</div>