<div class="main_benefits section this--bottom">
    <div class="container">
        <div class="main_benefits__content">
            <h2 class="main_benefits__title">Наши преимущества</h2>
            <div class="main_benefits__items">
                <div class="main_benefits__item">
                    <div class="main_benefits__item_img">
                        <img src="./img/main/main_benefits/1.png" alt="">
                    </div>
                    <div class="main_benefits__item_title">Изготовление практически любой запчасти</div>
                    <div class="main_benefits__item_text">Эксклюзивное изготовление запчастей по чертежам. Обучение персонала.</div>
                </div>
                <div class="main_benefits__item">
                    <div class="main_benefits__item_img">
                        <img src="./img/main/main_benefits/2.png" alt="">
                    </div>
                    <div class="main_benefits__item_title">Выделенный инженер технической поддержки</div>
                    <div class="main_benefits__item_text">Всегда рядом: запчасти, рем комплект, индивидуальный подход.</div>
                </div>
                <div class="main_benefits__item">
                    <div class="main_benefits__item_img">
                        <img src="./img/main/main_benefits/3.png" alt="">
                    </div>
                    <div class="main_benefits__item_title">Монтаж изготовленных изделий с выездом к заказчику</div>
                    <div class="main_benefits__item_text">Позволит избежать дополнительного времени простоя и гарантирует корректность монтажа.</div>
                </div>
                <div class="main_benefits__item">
                    <div class="main_benefits__item_img">
                        <img src="./img/main/main_benefits/4.png" alt="">
                    </div>
                    <div class="main_benefits__item_title">Возможность оформления расширенной гарантии</div>
                    <div class="main_benefits__item_text">Готовы предоставить расширенную гарантию до 7 лет!</div>
                </div>
                <div class="main_benefits__item">
                    <div class="main_benefits__item_img">
                        <img src="./img/main/main_benefits/5.png" alt="">
                    </div>
                    <div class="main_benefits__item_title">Обучение персонала заказчика</div>
                    <div class="main_benefits__item_text">Поддержка 24/7 по установке запчастей. Обучение персонала. Индивидуальное решение сложных ситуаций.</div>
                </div>
                <div class="main_benefits__item">
                    <div class="main_benefits__item_img">
                        <img src="./img/main/main_benefits/6.png" alt="">
                    </div>
                    <div class="main_benefits__item_title">Минимальные сроки изготовления</div>
                    <div class="main_benefits__item_text">Собственное производство, оптимизация бизнес-процессов, снижение человеческого фактора. соблюдение высоких стандартов качества.</div>
                </div>
            </div>
        </div>
    </div>
</div>