<div class="catalog_part__filter filter">
    <form action="" class="filter__body">
        <div class="filter__mobile_title">Фильтр <span class="filter__close_btn"></span></div>
        <div class="filter__float_button btn this--hidden">Применить (53)</div>
        <div class="filter__item">
            <div class="filter__item_title_wr">
                <span class="filter__item_arrow rotate">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
                <div class="filter__item_title">Цена</div>
            </div>
            <div class="filter__item_body opened">
                <div class="filter__price_inputs_wr">
                    от<input class="filter__price_input" type="text" id="minCost" value="1300">
                    до
                    <input class="filter__price_input" type="text" id="maxCost" value="1300000"> <span class="filter__price_rubl">₽</span>

                </div>
                <div class="filter__price_slider_wr">
                    <div class="filter__price_slider" id="price_slider"></div>
                </div>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__item_title_wr">
                 <span class="filter__item_arrow rotate">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
                <div class="filter__item_title this--pos_rel">
                    Тип оборудования
                    <div class="filter__item_tooltip">?
                        <div class="filter__item_tooltip_body">Оборудование, на которое устанавливается двигатель</div></div>
                </div>
            </div>
            <div class="filter__item_body opened">
                <input type="radio" name="type" class="filter__radio" value="Автосамосвал" id="radio_1" checked>
                <label class="filter__radio_label" for="radio_1">Автосамосвал</label>
                <input type="radio" name="type" class="filter__radio" value="Экскаватор" id="radio_2">
                <label class="filter__radio_label" for="radio_2">Экскаватор</label>
                <input type="radio" name="type" class="filter__radio" value="Автосамосвал" id="radio_3">
                <label class="filter__radio_label" for="radio_3">Автосамосвал</label>
                <input type="radio" name="type" class="filter__radio" value="Экскаватор" id="radio_4">
                <label class="filter__radio_label" for="radio_4">Экскаватор</label>
                <input type="radio" name="type" class="filter__radio" value="Экскаватор" id="radio_5">
                <label class="filter__radio_label" for="radio_5">Экскаватор</label>
                <input type="radio" name="type" class="filter__radio" value="Экскаватор" id="radio_6">
                <label class="filter__radio_label" for="radio_6">Экскаватор</label>
                <input type="radio" name="type" class="filter__radio" value="Экскаватор" id="radio_7">
                <label class="filter__radio_label" for="radio_7">Экскаватор</label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__item_title_wr">
                <span class="filter__item_arrow">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
                <div class="filter__item_title">Оборудование</div>
            </div>
            <div class="filter__item_body">
                <input type="checkbox" id="checkbox_1">
                <label class="filter__checkbox_label" for="checkbox_1">ЭКГ-5А</label>
                <input type="checkbox" id="checkbox_2">
                <label class="filter__checkbox_label" for="checkbox_2">ЭКГ-8И</label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__item_title_wr">
                <span class="filter__item_arrow">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
                <div class="filter__item_title">Двигатель</div>
            </div>
            <div class="filter__item_body">
                <input type="checkbox" id="checkbox_3">
                <label class="filter__checkbox_label" for="checkbox_3">ДЭ-812</label>
                <input type="checkbox" id="checkbox_4">
                <label class="filter__checkbox_label" for="checkbox_4">ДЭ-812</label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__item_title_wr">
                 <span class="filter__item_arrow">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
                <div class="filter__item_title">Напряжение</div>
            </div>
            <div class="filter__item_body">
                <input type="checkbox" id="checkbox_5">
                <label class="filter__checkbox_label" for="checkbox_5">300 В</label>
                <input type="checkbox" id="checkbox_6">
                <label class="filter__checkbox_label" for="checkbox_6">600 В</label>
                <input type="checkbox" id="checkbox_7">
                <label class="filter__checkbox_label" for="checkbox_7">605 В</label>
            </div>
        </div>
        <div class="filter__item">
            <div class="filter__item_title_wr">
                <span class="filter__item_arrow">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM5 5L4.29289 5.70711C4.68342 6.09763 5.31658 6.09763 5.70711 5.70711L5 5ZM9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM0.292893 1.70711L4.29289 5.70711L5.70711 4.29289L1.70711 0.292893L0.292893 1.70711ZM5.70711 5.70711L9.70711 1.70711L8.29289 0.292893L4.29289 4.29289L5.70711 5.70711Z"
      fill="black"/>
</svg>
                </span>
                <div class="filter__item_title">Мощность</div>
            </div>
            <div class="filter__item_body">
                <input type="checkbox" id="checkbox_18">
                <label class="filter__checkbox_label" for="checkbox_18">100 кВт</label>
                <input type="checkbox" id="checkbox_19">
                <label class="filter__checkbox_label" for="checkbox_19">500 кВт</label>
                <input type="checkbox" id="checkbox_20">
                <label class="filter__checkbox_label" for="checkbox_20">100 МВт</label>
            </div>
        </div>
        <div class="filter__btns_wr">
            <button class="btn this--width_full filter__btn this--red">Показать 53 товара</button>
            <button class="btn this--width_full this--wh filter__btn clear_btn">Сбросить фильтры</button>
        </div>
    </form>
</div>