.catalog_part__filter {
  margin-right: 40px;

  @media ($tablet2) {
    margin-right: 0;
  }
}
.filter {
  width: 310px;
  flex: 0 0 auto;

  @media ($tablet2) {
    position: fixed;
    top: 97px;
    left: 0;
    width: 100%;
    height: calc(100vh - 97px);
    max-height: calc(100vh - 97px);
    z-index: 40;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateX(200%);
    transition: 0.3s;
    &.filter_open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
  @media ($mobile) {
    top: 139px;
    height: calc(100vh - 139px);
    max-height: calc(100vh - 139px);
  }
  input[type="checkbox"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}

.filter__mobile_title {
  display: none;
  @media ($tablet2) {
    display: block;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.42;
    text-align: center;
    padding: 15px 0;
    position: relative;
  }
}
.filter__close_btn {
  @media($tablet2Max) {
    display: none;
  }
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top: 10px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 21px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - 10.5px);
    background: #000000;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.filter__body {
  position: relative;
  padding: 30px 25px 40px;
  background: #FFFFFF;
  border-radius: 15px;
  @media ($tablet2) {
    min-height: 100%;
    border-radius: 0;
    &.this--big_pb {
      padding-bottom: 160px;
    }
  }
}

.filter__float_button{
  position: absolute;
  left: 295px;
  top: 0;
  z-index: 30;
  overflow: visible;
  cursor: pointer;
  background: #FF4901;
  border: 2px solid #FF4901;
  color: #ffffff;
  @media ($tablet2) {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 14px 7px 0;
    border-color: transparent #FF4901 transparent transparent;
    z-index: 30;
    transition: 0.3s;
  }

  &.this--hidden {
    display: none;
  }
  &:hover {
    @media ($tablet2Max) {
      color: #272E3E;
      background: #FFBF33;
      border: 2px solid #FFBF33;
      &::before {
        border-color: transparent #FFBF33 transparent transparent;
      }
    }
  }
}

.filter__item {
  margin-bottom: 20px;
  @media ($tablet2) {
    margin-bottom: 0;
    border-top: 1px solid #D1D1D1;
  }
}
.filter__item_title_wr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  @media ($tablet2) {
    margin-bottom: 0;
    padding: 15px 10px 15px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  /* &:hover {
    @media ($tablet2Max) {
      .filter__item_title {
        color: #A27207;
      }
      .filter__item_arrow {
        svg {
          path {
            fill: #A27207;
          }
        }
      }
    }
  } */
}
.filter__item_arrow {
  margin-bottom: 5px;
  transition: 0.3s;
  svg {
    path {
      transition: 0.3s;
    }
  }

  &.rotate {
    transform: rotate(180deg);
  }
}
.filter__item_title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.15;
  transition: 0.3s;
  &.this--pos_rel {
    position: relative;
  }
}
.filter__item_body {
  @media ($tablet2) {
    padding: 0 20px 20px;
  }
}
.filter__item_tooltip {
  position: absolute;
  right: -33px;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #D2D5E4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #D2D5E4;
  font-weight: 400;
  &:hover {
    @media ($tablet2Max) {
      .filter__item_tooltip_body {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.filter__item_tooltip_body {
  position: absolute;
  background: #FFFFFF;
  border-radius: 5px;
  color: #272E3E;
  font-size: 1.2rem;
  line-height: 1.33;
  width: 185px;
  height: 46px;
  top: -8px;
  left: 35px;
  padding: 7px 10px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &::before {
    content: '';
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    z-index: 30;
    transition: 0.3s;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
  @media ($tablet2) {
    top: -60px;
    left: -85px;
    &::before {
      top: calc(100% - 2px);
      left: 50%;
      transform: rotate(-90deg) translateY(-50%);
    }
  }
}

.filter__radio {
  display: none;
}
.filter__radio_label {
  display: block;
  font-size: 1.6rem;
  line-height: 1.17;
  padding: 9px 0 9px 35px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  &::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    background: #FFFFFF;
    border: 1px solid #D2D5E4;
    border-radius: 20px;
    transition: 0.3s;
    transform: translateY(-50%);
  }
  &::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: #F9F9FB;
    border-radius: 20px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    @media ($tablet2Max) {
      color: #FF4901;
      &::before {
        border: 1px solid #FF4901;
      }
    }
  }
}

.filter__radio:checked + .filter__radio_label {
  &::after {
    opacity: 1;
    visibility: visible;
  }
  &::before {
    background: #FF4901;
    border: 1px solid #FF4901;
  }
}

.filter__checkbox_label  {
  display: block;
  font-weight: 400;
  line-height: 1.31;
  padding: 8px 0 6px 35px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;

  &::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    left: 0;
    top: 17px;
    background: #FFFFFF;
    border: 1px solid #D2D5E4;
    transition: 0.3s;
    transform: translateY(-50%);
  }
  &::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    left: 8px;
    top: 17px;
    transform: translateY(-50%);
    background: #F9F9FB;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    @media ($tablet2Max) {
      color: #FF4901;
      &::before {
        border: 1px solid #FF4901;
      }
    }
  }
}

input[type="checkbox"]:checked + .filter__checkbox_label  {
  &::after {
    opacity: 1;
    visibility: visible;
  }
  &::before {
    border: 1px solid #FF4901;
    background: #FF4901
  }
}

.filter__label_count {
 margin-left: 10px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #B8B8B8;
  transition: 0.3s;
}

.filter__price_inputs_wr {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.15;
}

.filter__price_input {
  width: 90px;
  margin: 0 7px;
  background: #FFFFFF;
  border: 1px solid #D2D5E4;
  border-radius: 5px;
  padding: 11px 7px 10px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.15;
  transition: 0.3s;

  &:hover {
    @media ($tablet2Max) {
      border: 1px solid #F9C859;
    }
  }
  &:focus {
    border: 1px solid #F9C859;
  }
}

.filter__price_rubl {
  font-weight: 400;
  line-height: 1.75;
  text-transform: uppercase;
}

.filter__price_slider_wr {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

  .filter__price_slider.ui-slider {
    position: relative;
    width: 242px;

    @media($mobileMiddle) {
      width: calc(100% - 25px);
    }
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 4px solid #000000;
    cursor: pointer;

    &:hover {
      @media ($tablet2Max) {
        transform: scale(1.1);
      }
    }
  }
  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    height: 3px;
    overflow: hidden;
  }
  /* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
  .ui-slider-horizontal {
    height: 3px; /* задаем высоту согласно дизайна */
    background: #FF4901;
    border-radius: 3px;
  }
  /* позиционируем ползунки */
  .ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -4px;
    background: #FF4901;
    width: 15px;
    height: 15px;
    border: none;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
  }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }
  /* оформление полосы по которой ходит ползунок */
  .ui-widget-content {
    background: #D2D5E4;
    border-radius: 3px;
  }
  /* оформление активного участка (между двумя ползунками) */
  .ui-widget-header {
    height: 3px;
    background: #FF4901;
  }
  /* скругление для полосы слайдера */
  .ui-corner-all {
  }




.filter__btns_wr {
  margin-bottom: -10px;
  @media ($tablet2) {
    max-width: 325px;
    margin: 10px auto 0;
  }
}
.filter__btn {
  margin-bottom: 10px;
  @media ($tablet2) {
    width: 335px;
  }
  &.this--wh {
    border: 2px solid #D2D5E4;
    &:hover {
      @media ($tablet2Max) {
        background: #272E3E;
        border: 2px solid #272E3E;
      }
    }
  }
  &.this--red {
    background: #FF4901;
    border: 2px solid #FF4901;
    color: #ffffff;
    &:hover {
      @media ($tablet2Max) {
        color: #272E3E;
        background: #FFBF33;
        border: 2px solid #FFBF33;
      }
    }
  }
}
