<div class="main_counts section">
    <div class="container">
        <div class="main_counts__content">
            <div class="main_counts__items">
                <div class="main_counts__item">
                    <div class="main_counts__label">Экспертный опыт</div>
                    <div class="main_counts__value">25 лет</div>
                </div>
                <div class="main_counts__item">
                    <div class="main_counts__label">Изготовленных запчастей</div>
                    <div class="main_counts__value">>10 000</div>
                </div>
                <div class="main_counts__item">
                    <div class="main_counts__label">На выезд специалиста</div>
                    <div class="main_counts__value">24 часа</div>
                </div>
                <div class="main_counts__item">
                    <div class="main_counts__label">Расширенная гарантия</div>
                    <div class="main_counts__value">до 7 лет</div>
                </div>
            </div>
        </div>
    </div>
</div>