<div class="main__slider main_slider swiper-container">
    <div class="main_slider__controls">
        <div class="main_slider__btn_prev"></div>
        <div class="main_slider__btn_next"></div>
    </div>
    <div class="main_slider__pagination"></div>
    <div class="main_slider__wrapper swiper-wrapper">
        <div class="main_slider__slide swiper-slide">
            <div class="main_slider__slide_content slide_content">
                <div class="slide_content__left">
                    <div class="slide_content__title">Запчасти для<br> электродвигателей<br>в одном месте</div>
                    <div class="slide_content__subtitle">Только качественная продукция</div>
                    <a href="#" class="btn slide_content__btn">Перейти</a>
                </div>
                <div class="slide_content__right">
                    <div class="slide_content__img">
                        <img src="./img/main/main_slider/main_slider_img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_slider__slide swiper-slide">
            <div class="main_slider__slide_content slide_content">
                <div class="slide_content__left">
                    <div class="slide_content__title">Запчасти для<br> электродвигателей<br>в одном месте</div>
                    <div class="slide_content__subtitle">Только качественная продукция</div>
                    <a href="#" class="btn slide_content__btn">Перейти</a>
                </div>
                <div class="slide_content__right">
                    <div class="slide_content__img">
                        <img src="./img/main/main_slider/main_slider_img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_slider__slide swiper-slide">
            <div class="main_slider__slide_content slide_content">
                <div class="slide_content__left">
                    <div class="slide_content__title">Запчасти для<br> электродвигателей<br>в одном месте</div>
                    <div class="slide_content__subtitle">Только качественная продукция</div>
                    <a href="#" class="btn slide_content__btn">Перейти</a>
                </div>
                <div class="slide_content__right">
                    <div class="slide_content__img">
                        <img src="./img/main/main_slider/main_slider_img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>