<div class="contacts_form section">
    <div class="container">
        <div class="contacts_form__content">
            <div class="contacts_form__left">
                <h2 class="contacts_form__title">
                    Остались вопросы?
                </h2>
                <div class="contacts_form__text">
                    Оставьте свой номер и наш менеджер свяжется с вами в течение 5 минут
                </div>
            </div>
            <div class="contacts_form__right">
                <form action="" name="contacts_form" class="contacts_form__form">
                    <div class="contacts_form__form_top">
                        <input type="text" class="contacts_form__input contacts_form__name only_letter_rus" name="name" placeholder="Ваше имя">
                        <input type="text" class="contacts_form__input contacts_form__tel_email only_eng" name="name" placeholder="Телефон/E-mail">
                    </div>
                    <textarea name="comment" placeholder="Комментарий" class="contacts_form__textarea"></textarea>
                    <div class="contacts_form__agreement">Нажимая на кнопку, вы соглашаетесь с условиями <a
                            href="#">Политики конфиденциальности</a></div>
                    <input type="submit" value="Заказать звонок" class="contacts_form__btn btn">
                </form>
            </div>
        </div>
    </div>
</div>