<main class="detail">
    <div class="container">
        <div class="detail__content">
            <div class="detail__top section">
                <div class="detail__row">
                    <div class="detail__img_wr">
                        <div class="detail__img">
                            <img src="./img/detail/top_img.png" alt="">
                        </div>
                    </div>
                    <div class="detail__top_content">
                        <h1 class="detail__title">Секции якоря для ДЭ-812 дополнительная строка</h1>
                        <div class="detail__top_row">
                            <div class="detail__top_left">
                                <div class="item_card__column this--mt_0 this--detail">
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Тип оборудования</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>Экскаватор</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Оборудование</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>ЭШ-6/45, ЭКГ-12,5, ЭКГ-10, ЭКГ-8И</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Двигатель</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>ДЭ-812</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Мощность</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>100 кВт</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Напряжение</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>305 В</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Частота вращения</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>1200 об./мин</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Класс изоляции</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>Н</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Количество в комплекте</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>35 шт.</span>
                                        </div>
                                    </div>
                                    <div class="item_card__group">
                                        <div class="item_card__label">
                                            <span>Гарантийный срок</span>
                                        </div>
                                        <span class="item_card__line"></span>
                                        <div class="item_card__value">
                                            <span>12 месяцев</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail__top_right">
                                <div class="detail__article">Артикул: 68045</div>
                                <div class="detail__price_discount">
                                    <div class="item_card__price">
                                        5000 ₽ <span class="item_card__price_old">6500 ₽</span>
                                    </div>
                                    <div class="detail__discount">-10%</div>
                                </div>
                                <div class="detail__when_made">
                                    Срок изготовления: <span>35 дней</span>
                                </div>
                                <button class="btn detail__btn show">Добавить в корзину</button>
                                <div class="detail__hidden_btns">
                                    <div class="detail__ordering_btns">
                                        <button class="detail__ordering_minus"></button>
                                        <div class="detail__ordering_value">0</div>
                                        <button class="detail__ordering_plus"></button>
                                    </div>
                                    <a href="#" class="btn this--wh detail__ordering_link">К корзине</a>
                                </div>
                            </div>
                        </div>
                        <div class="detail__info">
                            <div class="detail__info_title">Описание</div>
                            <div class="detail__info_text">
                                Разнообразный и богатый опыт говорит нам, что семантический разбор внешних противодействий представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи. Принимая во внимание показатели успешности, новая модель организационной деятельности требует определения и уточнения вывода текущих активов.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail__services">
                    <div class="detail__services_title">Дополнительные услуги к этому товару</div>
                    <div class="detail__services_items">
                        <div class="detail__services_item">
                            <div class="detail__services_item_title">Обучение по установке</div>
                            <div class="detail__services_item_price">5000 ₽</div>
                            <button class="btn detail__services_item_btn this--wh show">В корзину</button>
                            <div class="detail__services_item_hidden_block">
                                <div class="detail__services_item_hidden_block_text">Добавлено</div>
                                <button class="detail__services_item_hidden_block_btn">Отменить</button>
                            </div>
                        </div>
                        <div class="detail__services_item">
                            <div class="detail__services_item_title">Пакет расширенной гарантии</div>
                            <div class="detail__services_item_price">6500 ₽</div>
                            <button class="btn detail__services_item_btn this--wh show">В корзину</button>
                            <div class="detail__services_item_hidden_block">
                                <div class="detail__services_item_hidden_block_text">Добавлено</div>
                                <button class="detail__services_item_hidden_block_btn">Отменить</button>
                            </div>
                        </div>
                        <div class="detail__services_item">
                            <div class="detail__services_item_title">Шеф-монтаж</div>
                            <div class="detail__services_item_price">1500 ₽</div>
                            <button class="btn detail__services_item_btn this--wh show">В корзину</button>
                            <div class="detail__services_item_hidden_block">
                                <div class="detail__services_item_hidden_block_text">Добавлено</div>
                                <button class="detail__services_item_hidden_block_btn">Отменить</button>
                            </div>
                        </div>
                        <div class="detail__services_item">
                            <div class="detail__services_item_title">Ремонтный комплект</div>
                            <div class="detail__services_item_price">6500 ₽</div>
                            <button class="btn detail__services_item_btn this--wh show">В корзину</button>
                            <div class="detail__services_item_hidden_block">
                                <div class="detail__services_item_hidden_block_text">Добавлено</div>
                                <button class="detail__services_item_hidden_block_btn">Отменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail__slider section">
                <h2 class="detail__slider_title">С этим товаром покупают</h2>
                <div class="detail__slider_slider_wr">
                    <div class="detail__slider_btn_prev"></div>
                    <div class="detail__slider_btn_next"></div>
                    <div class="detail__slider_pagination"></div>
                    <div class="detail__slider_slider detail_slider swiper-container">
                        <div class="detail_slider__wrapper swiper-wrapper">
                            <div class="detail_slider__slide swiper-slide">
                                <div class="item_card this--width_full">
                                    <div class="item_card__link">
                                        <a href="#" class="item_card__top_img_wr">
                                            <div class="item_card__top_img">
                                                <img src="./img/catalog_part/1.png" alt="">
                                            </div>
                                        </a>
                                        <a href="#" class="item_card__title">Секции якоря для ДЭ-812</a>
                                        <div class="item_card__column">
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Мощность</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>100 кВт</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Напряжение</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>305 В</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Частота вращения</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>1200 об./мин</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Тип оборудования</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>Экскаватор</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Оборудование</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>ЭШ-6/45, ЭКГ-12.5, ЭКГ-10, ЭКГ-8И</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_card__price">
                                            4567 ₽ <span class="item_card__price_old"></span>
                                        </div>
                                        <div class="item_card__btn btn this--width_full">В корзину</div>
                                        <div class="item_card__ordering">
                                            <button class="item_card__ordering_minus"></button>
                                            <div class="item_card__ordering_value">0</div>
                                            <button class="item_card__ordering_plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_slider__slide swiper-slide">
                                <div class="item_card this--width_full">
                                    <div class="item_card__link">
                                        <a href="#" class="item_card__top_img_wr">
                                            <div class="item_card__top_img">
                                                <img src="./img/catalog_part/1.png" alt="">
                                            </div>
                                        </a>
                                        <a href="#" class="item_card__title">Секции якоря для ДЭ-812</a>
                                        <div class="item_card__column">
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Мощность</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>100 кВт</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Напряжение</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>305 В</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Частота вращения</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>1200 об./мин</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Тип оборудования</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>Экскаватор</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Оборудование</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>ЭШ-6/45, ЭКГ-12.5, ЭКГ-10, ЭКГ-8И</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_card__price">
                                            4567 ₽ <span class="item_card__price_old"></span>
                                        </div>
                                        <div class="item_card__btn btn this--width_full">В корзину</div>
                                        <div class="item_card__ordering">
                                            <button class="item_card__ordering_minus"></button>
                                            <div class="item_card__ordering_value">0</div>
                                            <button class="item_card__ordering_plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_slider__slide swiper-slide">
                                <div class="item_card this--width_full">
                                    <div class="item_card__link">
                                        <a href="#" class="item_card__top_img_wr">
                                            <div class="item_card__top_img">
                                                <img src="./img/catalog_part/1.png" alt="">
                                            </div>
                                        </a>
                                        <a href="#" class="item_card__title">Секции якоря для ДЭ-812</a>
                                        <div class="item_card__column">
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Мощность</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>100 кВт</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Напряжение</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>305 В</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Частота вращения</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>1200 об./мин</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Тип оборудования</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>Экскаватор</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Оборудование</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>ЭШ-6/45, ЭКГ-12.5, ЭКГ-10, ЭКГ-8И</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_card__price">
                                            4567 ₽ <span class="item_card__price_old"></span>
                                        </div>
                                        <div class="item_card__btn btn this--width_full">В корзину</div>
                                        <div class="item_card__ordering">
                                            <button class="item_card__ordering_minus"></button>
                                            <div class="item_card__ordering_value">0</div>
                                            <button class="item_card__ordering_plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_slider__slide swiper-slide">
                                <div class="item_card this--width_full">
                                    <div class="item_card__link">
                                        <a href="#" class="item_card__top_img_wr">
                                            <div class="item_card__top_img">
                                                <img src="./img/catalog_part/1.png" alt="">
                                            </div>
                                        </a>
                                        <a href="#" class="item_card__title">Секции якоря для ДЭ-812</a>
                                        <div class="item_card__column">
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Мощность</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>100 кВт</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Напряжение</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>305 В</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Частота вращения</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>1200 об./мин</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Тип оборудования</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>Экскаватор</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Оборудование</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>ЭШ-6/45, ЭКГ-12.5, ЭКГ-10, ЭКГ-8И</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_card__price">
                                            4567 ₽ <span class="item_card__price_old"></span>
                                        </div>
                                        <div class="item_card__btn btn this--width_full">В корзину</div>
                                        <div class="item_card__ordering">
                                            <button class="item_card__ordering_minus"></button>
                                            <div class="item_card__ordering_value">0</div>
                                            <button class="item_card__ordering_plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_slider__slide swiper-slide">
                                <div class="item_card this--width_full">
                                    <div class="item_card__link">
                                        <a href="#" class="item_card__top_img_wr">
                                            <div class="item_card__top_img">
                                                <img src="./img/catalog_part/1.png" alt="">
                                            </div>
                                        </a>
                                        <a href="#" class="item_card__title">Секции якоря для ДЭ-812</a>
                                        <div class="item_card__column">
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Мощность</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>100 кВт</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Напряжение</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>305 В</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Частота вращения</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>1200 об./мин</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Тип оборудования</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>Экскаватор</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Оборудование</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>ЭШ-6/45, ЭКГ-12.5, ЭКГ-10, ЭКГ-8И</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_card__price">
                                            4567 ₽ <span class="item_card__price_old"></span>
                                        </div>
                                        <div class="item_card__btn btn this--width_full">В корзину</div>
                                        <div class="item_card__ordering">
                                            <button class="item_card__ordering_minus"></button>
                                            <div class="item_card__ordering_value">0</div>
                                            <button class="item_card__ordering_plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_slider__slide swiper-slide">
                                <div class="item_card this--width_full">
                                    <div class="item_card__link">
                                        <a href="#" class="item_card__top_img_wr">
                                            <div class="item_card__top_img">
                                                <img src="./img/catalog_part/1.png" alt="">
                                            </div>
                                        </a>
                                        <a href="#" class="item_card__title">Секции якоря для ДЭ-812</a>
                                        <div class="item_card__column">
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Мощность</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>100 кВт</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Напряжение</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>305 В</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Частота вращения</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>1200 об./мин</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Тип оборудования</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>Экскаватор</span>
                                                </div>
                                            </div>
                                            <div class="item_card__group">
                                                <div class="item_card__label">
                                                    <span>Оборудование</span>
                                                </div>
                                                <span class="item_card__line"></span>
                                                <div class="item_card__value">
                                                    <span>ЭШ-6/45, ЭКГ-12.5, ЭКГ-10, ЭКГ-8И</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_card__price">
                                            4567 ₽ <span class="item_card__price_old"></span>
                                        </div>
                                        <div class="item_card__btn btn this--width_full">В корзину</div>
                                        <div class="item_card__ordering">
                                            <button class="item_card__ordering_minus"></button>
                                            <div class="item_card__ordering_value">0</div>
                                            <button class="item_card__ordering_plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>