<div class="main_catalog__items">
    <a href="#" class="main_catalog__item">
        <div class="main_catalog__item_img_wr">
            <div class="main_catalog__item_img">
                <img src="/img/main/main_catalog/1.png" alt="">
            </div>
        </div>
        <div class="main_catalog__text">Запчасти<br> для электродвигателей</div>
    </a>
    <a href="#" class="main_catalog__item">
        <div class="main_catalog__item_img_wr">
            <div class="main_catalog__item_img">
                <img src="/img/main/main_catalog/2.png" alt="">
            </div>
        </div>
        <div class="main_catalog__text">Запчасти<br> для гидрогенераторов</div>
    </a>
    <a href="#" class="main_catalog__item">
        <div class="main_catalog__item_img_wr">
            <div class="main_catalog__item_img">
                <img src="/img/main/main_catalog/3.png" alt="">
            </div>
        </div>
        <div class="main_catalog__text">Запчасти<br> для турбогенераторов</div>
    </a>
</div>
