<div class="main_catalog section this--top">
    <div class="container">
        <div class="main_catalog__content">
            <h2 class="main_catalog__title">Каталог</h2>
            <div class="main_catalog__items">
                <a href="#" class="main_catalog__item">
                    <div class="main_catalog__item_img">
                        <img src="/img/main/main_catalog/1.png" alt="">
                    </div>
                    <div class="main_catalog__text">Запчасти для электродвигателей</div>
                </a>
                <a href="#" class="main_catalog__item">
                    <div class="main_catalog__item_img">
                        <img src="/img/main/main_catalog/2.png" alt="">
                    </div>
                    <div class="main_catalog__text">Запчасти для гидрогенераторов</div>
                </a>
                <a href="#" class="main_catalog__item">
                    <div class="main_catalog__item_img">
                        <img src="/img/main/main_catalog/3.png" alt="">
                    </div>
                    <div class="main_catalog__text">Запчасти для турбогенераторов</div>
                </a>
            </div>
            <a href="#" class="main_catalog__link btn">Перейти в каталог</a>
        </div>
    </div>
</div>