.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.44;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  border: 2px solid #FFBF33;
  color: #272E3E;
  transition: 0.3s;
  background: #FFBF33;
  cursor: pointer;
  @media($mobile) {
    font-size: 1.6rem;
    line-height: 1.62;
  }
  &:hover {
    @media ($tablet2Max) {
      border: 2px solid #FF4901;
      background: #FF4901;
      color: #ffffff;
    }
  }

  &.this--wh {
    background: transparent;
    border: 2px solid #272E3E;
    &:hover {
      @media ($tablet2Max) {
        background: #FF4901;
        border: 2px solid #FF4901;
        color: #F9F9FB;
        .prev_btn_arrow {
          &::before,
          &::after {
            background: #F9F9FB;
          }
        }
      }
    }
  }

  &.this--disabled {
    background: #D1D1D1;
    color: #F6F8FB;
    pointer-events: none;
    border: 2px solid #D1D1D1;
  }
  &.this--center {
    margin: 0 auto;
  }
  &.this--width_full {
    width: 100%;
  }
  &.this--width_300 {
    width: 300px;
  }
  &.this--small_rad {
    border-radius: 5px;
  }
}

.prev_btn_arrow {
  width: 5px;
  height: 10px;
  position: relative;
  margin-right: 15px;

  &::before,
  &::after {
    width: 7px;
    height: 2px;
    position: absolute;
    content: '';
    left: -1px;
    transition: 0.3s;
    background: #000000;
  }
  &::before {
    top: 1px;
    transform: rotate(-45deg);
  }
  &::after {
    bottom: 3px;
    transform: rotate(45deg);
  }
}