<div class="catalog_part__reviews catalog_reviews section">
    <div class="container">
        <h2 class="catalog_reviews__title">Отзывы о категории</h2>
        <div class="catalog_reviews__slider_wr">
            <div class="catalog_reviews__slider_btn_prev"></div>
            <div class="catalog_reviews__slider_btn_next"></div>
            <div class="catalog_reviews__slider_pagination"></div>
            <div class="catalog_reviews__slider catalog_slider swiper-container">
                <div class="catalog_slider__wrapper swiper-wrapper">
                    <div class="catalog_slider__slide swiper-slide">
                        <div class="catalog_slider__review catalog_review">
                            <div class="catalog_review__top">
                                <div class="catalog_review__img">
                                    <img src="/img/catalog_part/reviews/author.png" alt="">
                                </div>
                                <div class="catalog_review__author">
                                    <div class="catalog_review__name">Фамилия Имя</div>
                                    <div class="catalog_review__date">05.06.2021</div>
                                </div>
                            </div>
                            <div class="catalog_review__body">
                                И нет сомнений, что базовые сценарии поведения пользователей, вне зависимости от их
                                уровня, должны быть представлены в исключительно положительном свете. Являясь всего лишь
                                частью общей картины, предприниматели в сети интернет формируют глобальную экономическую
                                сеть и при этом - разоблачены. В рамках спецификации современных стандартов, явные
                                признаки победы институционализации смешаны с не уникальными данными до степени
                                совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            </div>
                        </div>
                    </div>
                    <div class="catalog_slider__slide swiper-slide">
                        <div class="catalog_slider__review catalog_review">
                            <div class="catalog_review__top">
                                <div class="catalog_review__img">
                                    <img src="/img/catalog_part/reviews/author.png" alt="">
                                </div>
                                <div class="catalog_review__author">
                                    <div class="catalog_review__name">Константинов Константин Константинович, директор
                                        “Сталь”
                                    </div>
                                    <div class="catalog_review__date">05.06.2021</div>
                                </div>
                            </div>
                            <div class="catalog_review__body">
                                И нет сомнений, что базовые сценарии поведения пользователей, вне зависимости от их
                                уровня, должны быть представлены в исключительно положительном свете. Являясь всего лишь
                                частью общей картины, предприниматели в сети интернет формируют глобальную экономическую
                                сеть и при этом - разоблачены. В рамках спецификации современных стандартов, явные
                                признаки победы институционализации смешаны с не уникальными данными до степени
                                совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            </div>
                        </div>
                    </div>
                    <div class="catalog_slider__slide swiper-slide">
                        <div class="catalog_slider__review catalog_review">
                            <div class="catalog_review__top">
                                <div class="catalog_review__img">
                                    <img src="/img/catalog_part/reviews/author.png" alt="">
                                </div>
                                <div class="catalog_review__author">
                                    <div class="catalog_review__name">Фамилия Имя</div>
                                    <div class="catalog_review__date">05.06.2021</div>
                                </div>
                            </div>
                            <div class="catalog_review__body">
                                И нет сомнений, что базовые сценарии поведения пользователей, вне зависимости от их
                                уровня, должны быть представлены в исключительно положительном свете. Являясь всего лишь
                                частью общей картины, предприниматели в сети интернет формируют глобальную экономическую
                                сеть и при этом - разоблачены. В рамках спецификации современных стандартов, явные
                                признаки победы институционализации смешаны с не уникальными данными до степени
                                совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            </div>
                        </div>
                    </div>
                    <div class="catalog_slider__slide swiper-slide">
                        <div class="catalog_slider__review catalog_review">
                            <div class="catalog_review__top">
                                <div class="catalog_review__img">
                                    <img src="/img/catalog_part/reviews/author.png" alt="">
                                </div>
                                <div class="catalog_review__author">
                                    <div class="catalog_review__name">Константинов Константин Константинович, директор
                                        “Сталь”
                                    </div>
                                    <div class="catalog_review__date">05.06.2021</div>
                                </div>
                            </div>
                            <div class="catalog_review__body">
                                И нет сомнений, что базовые сценарии поведения пользователей, вне зависимости от их
                                уровня, должны быть представлены в исключительно положительном свете. Являясь всего лишь
                                частью общей картины, предприниматели в сети интернет формируют глобальную экономическую
                                сеть и при этом - разоблачены. В рамках спецификации современных стандартов, явные
                                признаки победы институционализации смешаны с не уникальными данными до степени
                                совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            </div>
                        </div>
                    </div>
                    <div class="catalog_slider__slide swiper-slide">
                        <div class="catalog_slider__review catalog_review">
                            <div class="catalog_review__top">
                                <div class="catalog_review__img">
                                    <img src="/img/catalog_part/reviews/author.png" alt="">
                                </div>
                                <div class="catalog_review__author">
                                    <div class="catalog_review__name">Фамилия Имя</div>
                                    <div class="catalog_review__date">05.06.2021</div>
                                </div>
                            </div>
                            <div class="catalog_review__body">
                                И нет сомнений, что базовые сценарии поведения пользователей, вне зависимости от их
                                уровня, должны быть представлены в исключительно положительном свете. Являясь всего лишь
                                частью общей картины, предприниматели в сети интернет формируют глобальную экономическую
                                сеть и при этом - разоблачены. В рамках спецификации современных стандартов, явные
                                признаки победы институционализации смешаны с не уникальными данными до степени
                                совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            </div>
                        </div>
                    </div>
                    <div class="catalog_slider__slide swiper-slide">
                        <div class="catalog_slider__review catalog_review">
                            <div class="catalog_review__top">
                                <div class="catalog_review__img">
                                    <img src="/img/catalog_part/reviews/author.png" alt="">
                                </div>
                                <div class="catalog_review__author">
                                    <div class="catalog_review__name">Константинов Константин Константинович, директор
                                        “Сталь”
                                    </div>
                                    <div class="catalog_review__date">05.06.2021</div>
                                </div>
                            </div>
                            <div class="catalog_review__body">
                                И нет сомнений, что базовые сценарии поведения пользователей, вне зависимости от их
                                уровня, должны быть представлены в исключительно положительном свете. Являясь всего лишь
                                частью общей картины, предприниматели в сети интернет формируют глобальную экономическую
                                сеть и при этом - разоблачены. В рамках спецификации современных стандартов, явные
                                признаки победы институционализации смешаны с не уникальными данными до степени
                                совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


