<div class="page_404__top">
    <a href="#" class="page_404__prev_btn btn this--wh"><span class="prev_btn_arrow"></span>Вернуться назад</a>
    <div class="page_404__img_text">
        <div class="page_404__img">
            <img src="./img/page_404/page_404.png" alt="">
        </div>
        <div class="page_404__text">Эта страница не найдена. Вы можете перейти к интересующему Вас разделу<br> или вернуться на предыдущую страницу</div>
    </div>
    <div class="page_404__top_right"></div>
</div>