<div class="main_about section">
    <div class="container">
        <div class="main_about__content">
            <h2 class="main_about__title">О компании</h2>
            <div class="text_and_img">
                <div class="text_and_img__text">
                    <p>ООО ЗКЭМ – производственная компания, выпускающая запчасти для большинства типов электродвигателей, турбогенераторов и гидрогенераторов.</p>
                    <p>ЗКЭМ производит практически любые запчасти, ремонтирует электродвигатели в кратчайшие сроки и с расширенной гарантией.</p>
                    <p>Благодаря использованию современного оборудования, отладке бизнес процессов и многоступенчатому контролю качества ЗКЭМ осуществляет ввод в эксплуатацию электродвигателей признанных неремонтопригодными, с ЛЮБЫМИ дефектами.</p>
                </div>
                <div class="text_and_img__img_wr">
                    <div class="text_and_img__img">
                        <img src="/img/main/main_about/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="text_and_img this--reverse">
                <div class="text_and_img__text">
                    <p>Двигатель, отремонтированный нашими мастерами по своим техническим характеристикам и эксплуатационным показателям мало отличается от нового. В распоряжении наших специалистов – современное оборудование:</p>
                    <ul>
                        <li>для производства секций обмоток статора;</li>
                        <li>для изготовления пакетов активного железа компонентов электрической машины;</li>
                        <li>для выполнения вакуумно-нагнетательной пропитки статора и ротора;</li>
                        <li>для проведения испытаний отремонтированной техники в лабораторных условиях.</li>
                    </ul>
                    <p>В случае необходимости специалисты компании срочно отправятся на Ваш объект для проведения ремонтных работ с демонтажем на территории предприятия-заказчика.</p>
                </div>
                <div class="text_and_img__img_wr">
                    <div class="text_and_img__img">
                        <img src="/img/main/main_about/2.jpg" alt="">
                    </div>
                </div>
            </div>
            <a href="#" class="main_about__link btn">Подробнее</a>
        </div>
    </div>
</div>