.contacts_map_wr {
  padding-top: 31.25%;
  position: relative;
  @media ($desktop) {
    padding-top: 50%;
  }
  @media ($tablet2) {
    padding-top: 70%;
  }
  @media ($mobileMiddle) {
    padding-top: 100%;
  }
}
.contacts_map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}