$desktopSuperBigMax: "min-width: 1700px";
$desktopSuperBig: "max-width: 1699px";
$desktopBigMax: "min-width: 1500px";
$desktopBig: "max-width: 1499px";
$desktopMax: "min-width: 1200px";
$desktop: "max-width: 1199px";
$desktopSmallMax: "min-width: 1100px";
$desktopSmall: "max-width: 1099px";
$tabletMax: "min-width: 1024px";
$tablet: "max-width: 1023px";
$tablet2Max: "min-width: 960px";
$tablet2: "max-width: 959px";
$tablet3Max: "min-width: 768px";
$tablet3: "max-width: 767px";
$mobileMax: "min-width: 640px";
$mobile: "max-width: 639px";
$mobileMiddleMax: "min-width: 500px";
$mobileMiddle: "max-width: 499px";
$mobile2Max: "min-width: 425px";
$mobile2: "max-width: 424px";
$mobile3Max: "min-width: 351px";
$mobile3: "max-width: 350px";
